In [1]:
print("bhfdvhfbv")

bhfdvhfbv

In [2]:
a=eval(input("one value"))
b=eval(input("another"))
c=a+b
print(c)

one value56
another55
111

In [3]:
a=6
b=5
if a>b:
    print("a is greater")
else:
    print("b is greater")

a is greater

In [4]:
if a>b and a>c:
    print("a is greater")
elif b>a and a>c:
    print("b is greater")
else:
    print("c is greater")

c is greater

In [6]:
for i in range (1,10,1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [8]:
#nested loop
for i in range(10):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [16]:
a=eval(input("enter the number num: "))
 
factorial = 1;

for i in range(a,1,-1):
    factorial = factorial * i
    print(factorial)

enter the number num: 5
5
20
60
120

In [18]:
#pass
a=10
if a%2==0:
    pass
else:
    print("odd")

In [22]:
# define s function
def test(a,b):
     
    c=a+b
    print("ans is",c)

In [24]:
test(3,5)

ans is 8

In [27]:
def test2(x):
    z=x**3
    return z

In [28]:
test2(5)

125

In [30]:
def nametest(name,age): #positional argument
    print("my name is ",name)
    print("my age is ",age)

In [32]:
nametest(20,"vivek")

my name is  20
my age is  vivek

In [34]:
# variable length argument 
def vararg(*ar):
    for i in ar:
        print(i)

In [37]:
vararg(5,5.5,"python")

5
5.5
python

In [42]:
# fibonacci series
a=0
b=1

print(a,b)
for i in range(3,20):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

0 1
1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584

In [ ]:
#WAP using function to calculate sum of all odd numbers from 1 to 20

    s=0;
    for i in range(1,20,2):
        s=s+i
        
    print(s)

In [ ]:
#prime
n =eval(input("enter a number"))
for i in range(2,n):
    if n%i==0:
        print("not prime")
        break
else:
        print("prime")

In [47]:
#lambda expression
s= lambda a,b:a+b

In [48]:
s(2,5)

7

In [ ]:
#WAP using function to calculate sum of all odd numbers from 1 to 20

    s=0;
    for i in range(1,20,2):
        s=s+i
        
    print(s)